.shadows {
          --shadows-blur-20: 3;
  --shadows-blur-40: 4;
  --shadows-blur-60: 8;
  --shadows-blur-80: 16;
  --shadows-blur-100: 100;
  --shadows-blur-base: 1;
  --shadows-y-20: 1;
  --shadows-y-40: 2;
  --shadows-y-60: 4;
  --shadows-y-80: 8;
  --shadows-y-100: 16;
  --shadows-y-base: 1;
      }