.theme {
          --theme-fg-opacity-1: #fcfcfc03;
  --theme-fg-opacity-5: #fcfcfc;
  --theme-fg-opacity-10: #fcfcfc1a;
  --theme-fg-opacity-20: #fcfcfc33;
  --theme-fg-opacity-30: #fcfcfc4d;
  --theme-fg-opacity-40: #fcfcfc66;
  --theme-fg-opacity-50: #fcfcfc80;
  --theme-fg-opacity-60: #fcfcfc99;
  --theme-fg-opacity-70: #fcfcfcb3;
  --theme-fg-opacity-80: #fcfcfccc;
  --theme-fg-opacity-90: #fcfcfce6;
  --theme-fg-on-dark: #ffffff;
  --theme-overlay-bg: #171717;
  --theme-shadow-base: #3031330d;
  --theme-shadow-blur: #30313314;
  --shadows-theme-20: 0px 1px 1.5px 0px #30313314, 0px 0px 0.5px 0px #303133;
  --shadows-theme-40: 0px 2px 2px 0px #30313314, 0px 0px 0.5px 0px #303133;
  --shadows-theme-60: 0px 4px 4px 0px #30313314, 0px 0px 0.5px 0px #303133;
  --shadows-theme-80: 0px 8px 8px 0px #30313314, 0px 0px 0.5px 0px #303133;
  --shadows-theme-100: 0px 16px 50px 0px #30313314, 0px 0px 0.5px 0px #303133;
      }