.typography {
          --font-families-headlines: Inter;
  --font-families-body: Inter;
  --line-heights-headlines-xl: 110px;
  --line-heights-headlines-lg: 110px;
  --line-heights-headlines-default: 110px;
  --line-heights-headlines-sm: 130px;
  --line-heights-body-relaxed: 175px;
  --line-heights-body-default: 150px;
  --font-weights-headlines-bold: Bold;
  --font-weights-headlines-regular: Regular;
  --font-weights-body-bold: Bold;
  --font-weights-body-regular: Regular;
  --font-size-base: 16px;
  --font-size-scale: 1.2px;
  --font-size-xxs: 9px;
  --font-size-xs: 11px;
  --font-size-sm: 13px;
  --font-size-md: 16px;
  --font-size-lg: 19px;
  --font-size-xl: 23px;
  --font-size-2xl: 28px;
  --font-size-3xl: 34px;
  --font-size-4xl: 41px;
  --font-size-5xl: 49px;
  --font-size-6xl: 59px;
  --font-size-7xl: 71px;
  --font-size-8xl: 85px;
  --font-size-9xl: 102px;
  --font-size-10xl: 122px;
  --letter-spacing-body: 0%;
  --letter-spacing-headlines: -1%;
  --letter-spacing-buttons: 3%;
  --letter-spacing-captions: 0%;
  --paragraph-spacing-default: 0px;
      }